---
layout: page
---

<div class="clean">

  <table border=0>
    <tr>
      <td width=65%>

        <!-- Ilan: moved the header from page.html to here -->

        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <h5 class="post-description">{{ page.description }}</h5>
        </header>

        {{ content }}


      </td>
      <td width=35%>

        {% if page.profile %}
        <!-- IS changed below -->
          <!-- <div class="profile col one {{ page.profile.align }}"> -->
          <div class="profile {{ page.profile.align }}">
            {% if page.profile.image %}
              <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
            {% endif %}
            {% if page.profile.address %}
              <div class="address">
                {{ page.profile.address }}
              </div>
            {% endif %}
          </div>
        {% endif %}


      </td>
    </tr>
  </table>

</div>
